# dependencies
node_modules

# output
out
dist
*.tgz

# logs
logs
*.log

# dotenv environment variable files
.env
.env.local
.env.*.local

# caches
.cache
.wrangler
.alchemy
*.tsbuildinfo

# os/editor
.DS_Store
.idea
